---
import Layout from "../layouts/Layout.astro";
import ContactUs from "../components/ContactUs.astro";
import LastCall from "../components/home/LastCall.astro";
import AboutHero from "../components/about-us/AboutHero.astro";
import AboutIntro from "../components/about-us/AboutIntro.astro";
import AboutFirst from "../components/about-us/AboutFirst.astro";
---

<Layout title="About us | Innovative Roofing">
    <main>
        <AboutHero />
        <AboutFirst />
        <AboutIntro />
        <ContactUs />
        <LastCall />
    </main>
</Layout>
