---
import Layout from "../layouts/Layout.astro";
import ContactUs from "../components/ContactUs.astro";
import LastCall from "../components/home/LastCall.astro";
import WorkInProgress from "../components/WorkInProgress.astro";
---

<Layout title="Home">
    <main>
        <WorkInProgress />
        <ContactUs />
        <LastCall />
    </main>
</Layout>
