---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero2.astro";
import Service from "../components/home/ServicesSection.astro";
---

<Layout title="Innovative Roofing Systems Canada - Home">
	<main>
		<Hero />
		<Service />
	</main>
</Layout>
