---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/home/Hero.astro";

---

<Layout title="Innovative Roofing Systems Canada - Home">
	<main>
		<Hero />
	</main>
</Layout>

