<section class="bg-white">
    <div class="container px-6 py-12 mx-auto">
        <h1 class="text-2xl font-semibold text-gray-800 lg:text-3xl">
            Frequently asked questions.
        </h1>

        <div
            class="grid grid-cols-1 gap-8 mt-8 lg:mt-16 md:grid-cols-2 xl:grid-cols-3"
        >
            <div>
                <div class="inline-block p-3 text-white bg-primary rounded-lg">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="w-6 h-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                        ></path>
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold text-gray-700">
                        What are the benefits of replacing my roof?
                    </h1>

                    <p class="mt-2 text-sm text-gray-500">
                        Replacing your roof can provide several benefits,
                        including increased energy efficiency, improved curb
                        appeal, enhanced property value, and protection against
                        leaks and other weather-related damages. At our roofing
                        company, we use high-quality materials and skilled
                        craftsmanship to ensure that your new roof is not only
                        beautiful but also functional and long-lasting.
                    </p>
                </div>
            </div>

            <div>
                <div class="inline-block p-3 text-white bg-primary rounded-lg">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="w-6 h-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                        ></path>
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold text-gray-700">
                        How do I know if my roof needs repairs or replacement?
                    </h1>

                    <p class="mt-2 text-sm text-gray-500">
                        Some signs that your roof may need repairs or
                        replacement include missing or broken shingles, leaks,
                        water stains on your ceiling, excessive moss or algae
                        growth, and noticeable wear and tear. Our roofing
                        experts can conduct a thorough inspection of your roof
                        and recommend the best course of action to restore its
                        functionality and appearance.
                    </p>
                </div>
            </div>

            <div>
                <div class="inline-block p-3 text-white bg-primary rounded-lg">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="w-6 h-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                        ></path>
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold text-gray-700">
                        What types of roofing materials do you offer?
                    </h1>

                    <p class="mt-2 text-sm text-gray-500">
                        We offer a variety of roofing materials to suit your
                        needs and preferences, including asphalt shingles, metal
                        roofing, tile roofing, and flat roofing. Each type of
                        material has its own unique advantages and can be
                        customized to fit your specific style and budget.
                    </p>
                </div>
            </div>

            <div>
                <div class="inline-block p-3 text-white bg-primary rounded-lg">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="w-6 h-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                        ></path>
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold text-gray-700">
                        How long does a roof replacement take?
                    </h1>

                    <p class="mt-2 text-sm text-gray-500">
                        The duration of a roof replacement project depends on
                        several factors, including the size of your roof, the
                        type of materials being used, and the complexity of the
                        installation. However, our team of experienced roofers
                        can typically complete a full roof replacement within a
                        few days to a week, minimizing any inconvenience to you
                        and your family.
                    </p>
                </div>
            </div>

            <div>
                <div class="inline-block p-3 text-white bg-primary rounded-lg">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="w-6 h-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                        ></path>
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold text-gray-700">
                        Are you licensed and insured?
                    </h1>

                    <p class="mt-2 text-sm text-gray-500">
                        Yes, we are fully licensed and insured to provide
                        roofing services in your area. Our team of professionals
                        adheres to all industry standards and safety protocols,
                        ensuring that your roof replacement or repair is
                        completed to the highest level of quality and safety.
                    </p>
                </div>
            </div>

            <div>
                <div class="inline-block p-3 text-white bg-primary rounded-lg">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="w-6 h-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                        ></path>
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold text-gray-700">
                        Do you offer any warranties or guarantees on your work?
                    </h1>

                    <p class="mt-2 text-sm text-gray-500">
                        Yes, we stand behind our work and offer a warranty on
                        all of our roofing services. This warranty covers any
                        defects in materials or workmanship and provides peace
                        of mind knowing that your investment is protected.
                        Additionally, we strive for 100% customer satisfaction
                        and will work with you to ensure that you are completely
                        happy with your new roof.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
