<section class="mb-8 lg:mb-20 py-40">
  <svg
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 320"
    preserveAspectRatio="none"
    class="svg absolute hidden lg:block"
    style="height: 560px; width: 100%; z-index: -10; overflow: hidden"
  >
    <defs>
      <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
        <stop stop-color="hsl(217, 102%, 99%)" offset="0%"></stop>
        <stop stop-color="hsl(217,88%, 93%)" offset="100%"></stop>
      </linearGradient>
    </defs>
    <path
      fill="url(#sw-gradient-0)"
      d="M 0.351 264.418 C 0.351 264.418 33.396 268.165 47.112 270.128 C 265.033 301.319 477.487 325.608 614.827 237.124 C 713.575 173.504 692.613 144.116 805.776 87.876 C 942.649 19.853 1317.845 20.149 1440.003 23.965 C 1466.069 24.779 1440.135 24.024 1440.135 24.024 L 1440 0 L 1360 0 C 1280 0 1120 0 960 0 C 800 0 640 0 480 0 C 320 0 160 0 80 0 L 0 0 L 0.351 264.418 Z"
    ></path>
  </svg>

  <div
    class="px-6 py-12 lg:my-12 md:px-12 text-gray-800 text-center lg:text-left"
  >
    <div class="container mx-auto xl:px-32">
      <div class="grid lg:grid-cols-2 gap-12 flex items-center">
        <div class="mt-12 lg:mt-0">
          <h1
            class="text-5xl md:text-6xl xl:text-7xl text-secondary font-bold tracking-tight mb-12"
          >
            Our Roofing Experts <br /><span class="text-accent"
              >have you covered</span
            >
          </h1>
          <a role="button" href="contact" class="mb-3 btn btn-primary"
            >Get Started</a
          >
          <a
            role="button"
            href="services"
            class="btn btn-wide btn-outline btn-primary">Learn More</a
          >
        </div>
        <div class="mb-12 lg:mb-0">
          <img
            src="https://images.unsplash.com/photo-1643225523483-e2c434191bba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
            class="w-full rounded-lg shadow-lg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
