<section class="container my-24 px-6 py-4 mx-auto">
    <div class="grid lg:gap-6 lg:px-2 lg:grid-cols-2">
        <!-- Left Side: image -->

        <div class="col-end mt-4 lg:mb-0">
            <div class="py-4 lg:my-20">
                <h2 class="text-accent text-3xl text-left mb-4">
                    Our Goal ...
                </h2>

                <div class="flex flex-auto px-3 mb-4">
                    <p>
                        Our commitment to delivering the best roofing solutions,
                        combined with a focus on seamless processes, has earned
                        us a reputation as one of the most trusted roofing
                        companies in Ontario.  Whether you're looking for a
                        repair or a complete roofing system, our team of
                        experienced professionals will work closely with you to
                        ensure that your project is completed with the highest
                        level of quality and efficiency.  Contact us today to
                        learn more about how we can help you with your roofing
                        needs.
                    </p>
                </div>
                <div class="px-4">
                    <a
                        role="button"
                        href="about"
                        class="mb-2 btn btn-wide btn-outline btn-accent"
                        >Learn More</a
                    >
                </div>
            </div>
        </div>

        <!--right side -->
        <div class="mb-4 mt-4 lg:mb-0">
            <img
                class="rounded-2xl shadow-lg"
                src="https://images.unsplash.com/photo-1643225523483-e2c434191bba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
                alt=""
            />
        </div>
    </div>
</section>
