<section class="bg-slate-700 container my-24 px-6 py-4 mx-auto">
    <!-- Left Side: image -->

    <div class="grid lg:gap-6 lg:px-2 lg:grid-cols-2">
        <div class="mb-4 mt-4 lg:mb-0">
            <img
                class="rounded-2xl"
                src="https://images.unsplash.com/photo-1632759145351-1d592919f522?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                alt=""
            />
        </div>

        <!--right side -->

        <div class="col-end mt-4 lg:mb-0">
            <div class="py-4 lg:my-20 bg-zinc-500">
                <h2 class="text-blue-600 text-3xl text-left mb-4">
                    Who are we?
                </h2>

                <div class="flex flex-auto px-3 mb-4">
                    <p>
                        Roofing Systems Canada, where quality, integrity and
                        customer service have been at the forefront of our
                        business for over 20 years. Our commitment to delivering
                        the best roofing solutions, combined with a focus on
                        seamless processes, has earned us a reputation as one of
                        the most trusted roofing companies in Ontario.  Whether
                        you're looking for a repair or a complete roofing
                        system, our team of experienced professionals will work
                        closely with you to ensure that your project is
                        completed with the highest level of quality and
                        efficiency.  Contact us today to learn more about how we
                        can help you with your roofing needs.
                    </p>
                </div>
                <div class="px-4">
                    <a
                        class="inline-block px-7 py-3 mr-2 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
                        data-mdb-ripple="true"
                        data-mdb-ripple-color="light"
                        href="#!"
                        role="button">learn more</a
                    >
                </div>
            </div>
        </div>
    </div>
</section>
