<div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12">
  <footer class="text-xs font-medium text-gray-500"><div class="mx-auto grid max-w-5xl grid-cols-2 gap-10 px-4 py-16 md:grid-cols-5"><nav class="col-span-2 md:col-span-1"><a href="#"><img src="https://images.unsplash.com/photo-1633409361618-c73427e4e206?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"</a></nav><nav class="flex flex-col items-start space-y-2.5 md:space-y-1.5"><h3 class="mb-2 text-black">Products</h3><a href="#" class="transition hover:text-gray-900">Todo List</a>
<a href="#" class="transition hover:text-gray-900">Product Management</a>
<a href="#" class="transition hover:text-gray-900">Git Manager</a>
<a href="#" class="transition hover:text-gray-900">Status Reporter</a>
<a href="#" class="transition hover:text-gray-900">Email Management</a>
<a href="#" class="transition hover:text-gray-900">Responsibilities</a>
<a href="#" class="transition hover:text-gray-900">Teams</a></nav><nav class="flex flex-col items-start space-y-2.5 md:space-y-1.5"><h3 class="mb-2 text-black">Resources</h3><a href="#" class="transition hover:text-gray-900">Technical Support</a>
<a href="#" class="transition hover:text-gray-900">Licensing</a>
<a href="#" class="transition hover:text-gray-900">Community</a>
<a href="#" class="transition hover:text-gray-900">Knowledge Base</a>
<a href="#" class="transition hover:text-gray-900">Marketplace</a>
<a href="#" class="transition hover:text-gray-900">My Account</a>
<a href="#" class="transition hover:text-gray-900">Support Ticket</a></nav><nav class="flex flex-col items-start space-y-2.5 md:space-y-1.5"><h3 class="mb-2 text-black">Learn</h3><a href="#" class="transition hover:text-gray-900">Certification</a>
<a href="#" class="transition hover:text-gray-900">Partners</a>
<a href="#" class="transition hover:text-gray-900">Documentation</a>
<a href="#" class="transition hover:text-gray-900">Developer Resources</a>
<a href="#" class="transition hover:text-gray-900">Purchasing FAQ</a>
<a href="#" class="transition hover:text-gray-900">Enterprise services</a></nav><nav class="flex flex-col items-start space-y-2.5 md:space-y-1.5"><h3 class="mb-2 text-black">About Us</h3><a href="#" class="transition hover:text-gray-900">Company</a>
<a href="#" class="transition hover:text-gray-900">Careers</a>
<a href="#" class="transition hover:text-gray-900">Events</a>
<a href="#" class="transition hover:text-gray-900">Blogs</a>
<a href="#" class="transition hover:text-gray-900">Contact</a>
<a href="#" class="transition hover:text-gray-900">Security</a>
<a href="#" class="transition hover:text-gray-900">Privacy</a></nav></div>
<!-- Second footer -->

<div
    class="flex flex-col space-y-4 border-t border-gray-200 py-8 px-4 sm:items-center sm:justify-between md:flex-row md:space-y-0">
    <p>© 2022 Campfire, Inc.</p>
    <nav class="flex flex-col space-y-3 sm:flex-row sm:space-y-0 sm:space-x-3">
      <a href="#" class="transition hover:text-gray-900">Terms of Service</a>
      <a href="#" class="transition hover:text-gray-900">Privacy Policy</a>
      <a href="#" class="transition hover:text-gray-900">Cookie Policy</a>
    </nav>
  </div>
</footer>
</div>
